@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&family=Lato:wght@300;400;700&family=Tienne:wght@400;700;900&display=swap');

* {
  font-family: Lato;
  box-sizing: border-box;
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: Tienne;
  font-weight: 700;
}

pre,
code,
.indexes *,
.stat,
*[data-stat=true] {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 0.85rem;
}

.indexes,
.stat {
  font-size: 0.85em;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 100% 1 1;

  &[data-modal=true] {
    overflow: hidden;
    max-height: 100vh;
  }
}

.comparison {
  display: flex;
  flex-direction: column;
  flex: 100% 1 1;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.table {
  overflow: auto;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  margin: 2em auto;
  max-width: 800px;
  overflow: visible;
  flex: 100% 1 1;
}

.clickable {
  cursor: pointer;
}

.pagestatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 100% 1 1;

  &[data-type=loading] {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .text {
    color: lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >* {
      font-size: 0.85rem;
      line-height: 1.5;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}